/* Градиент */
.gradient-bg {
    background-image:
        radial-gradient(circle at 102% -2%, hsl(308.5713824104, 58%, 93%) 7%, transparent 40.8424350929%),
        radial-gradient(circle at 7% 81%, hsla(212.3684210526, 83%, 83%, 0.43) 16%, transparent 53%),
        radial-gradient(circle at 39% 52%, hsla(168.2772647633, 73%, 89%, 0.5) 6%, transparent 68%),
        radial-gradient(circle at 11% 29%, hsl(201, 0%, 100%) 8%, transparent 74%),
        radial-gradient(circle at 90% 50%, hsl(62.3949118222, 49%, 91%) 2%, transparent 85%);
}

/* Стили для калькулятора */
.calculator-container {
    background-color: white;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    width: 300px;
    border: 1px solid #e5e7eb;
    margin: 0 auto;
}

/* Группа кнопок */
.btn-group {
    padding-bottom: 24px;
    display: flex;
    gap: 8px;
}

.result {
    background: #f9fafb;
    border-radius: 8px;
    padding: 1.5rem 1rem;
    margin-bottom: 24px;
    font-size: 2.5rem;
    font-weight: 400;
    text-align: right;
    color: #1f2937;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid #e5e7eb;
}

.my-btn {
    background-color: white;
    color: #1f2937;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    border: 1px solid #e5e7eb;
    user-select: none;
}

.my-btn:hover {
    background-color: #f9fafb;
}

.my-btn:active {
    background-color: white;
}

.my-btn.secondary {
    background-color: #f9fafb;
}

.my-btn.secondary:hover {
    background-color: #f1f2f3;
}

.my-btn.primary {
    background-color: #2563eb;
    color: white;
    border: none;
}

.my-btn.primary:hover {
    background-color: #1d4ed8;
}

.my-btn.site {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.calculator-container .buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Ряды кнопок */
.calculator-container .buttons-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
}

/* Первый ряд
.calculator-container .buttons-row:first-child {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
} */

/* Последний ряд (с кнопкой = шире) */
.calculator-container .buttons-row:last-child {
    grid-template-columns: 1fr 1fr 1fr 2fr;
}
